<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.chw.ayp">

    <application>
        <activity
            android:name="org.smartregister.chw.ayp.activity.BaseAypParentalVisitActivity"
            android:exported="false" />
        <activity
            android:name="org.smartregister.chw.ayp.activity.BaseAypInSchoolGroupVisitActivity"
            android:exported="false" />
        <activity
            android:name="org.smartregister.chw.ayp.activity.BaseAypGroupProfileActivity"
            android:exported="false" />
    </application>

    
</manifest>
